@media only screen and (max-width: 600px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    
    .card {
        width: 97.5%;
    }
    .card-body {
        flex-direction: column;
    }
    .card-body-text-holder {
        width: 100%;
    }
    
    
}

/* Extra Small Devices (Phones, 0px to 575px) 
@media (max-width: 575px) {
    body {
        font-size: 12px;
    }
    .container {
        width: 100%;
    }
}

 Small Devices (Phones, 576px to 767px) 
@media (min-width: 576px) and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .container {
        width: 100%;
    }
}

 Medium Devices (Tablets, 768px to 991px) 
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 16px;
    }
    .container {
        width: 90%;
    }
}

 Large Devices (Desktops, 992px to 1199px) 
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 18px;
    }
    .container {
        width: 80%;
    }
}

 Extra Large Devices (Desktops, 1200px and above) 
@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
    .container {
        width: 70%;
    }
}
*/