* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
.header-container {
    background-color: #7e6b6b;
    margin: 0 0 5%;
    text-align: center;
}
.header-container ul {
    background-color: #7e6b6b;
    padding: 10px 0;
    text-align: center;
}
.header-container ul li {
    display: inline;
    margin: 0 7%;
}
footer {
    background-color: #7e6b6b;
    text-align: center;
    padding: 10px 0;
}

.card-container {
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 30vh;
    border-radius: 25px;
    background-color: antiquewhite;
}